:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --hero-bcg-color: #2f303a;
  --primary-btn-bcg-color: #F5F4FA;
}
/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
body {
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}
body .link {
  text-decoration: none;
}

body .link:hover {
  color: var(--accent-color);
}



/* LOGO */

.logo {
  font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  /* text-decoration: none; */
}

.logo.link {
  color: var(--accent-color);
}

/* LOGO color change element */

header .studio {
  color: var(--title-text-color);
}
footer .studio {
  color: var(--primary-white-color);
}

/* LIST */

.list {
  list-style: none;
}
/* site-nav */
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link.current {
  color: var(--accent-color);

}

/* CONTACTS links */

.link:focus,
.link:hover {
  color: var(--accent-color);
}
nav>.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* BUTTONS */

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  background-color: var(--primary-btn-bcg-color);
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

}

.button.hero {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-white-color);

  background-color: var(--accent-color);
  border-color: var(--primary-white-color);
  
}

.hero .button:hover,
.hero ,button:focus {
  background-color: rgba(var(--accent-color), .5);
}

/* FOOTER */

.footer {
  background-color: var(--hero-bcg-color);
  
}

.address.link {
  color: var(--primary-white-color);
  font-style: normal;

}
.footer.link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}


/* MAIN PAGE */

.link {
  color: var(--primary-text-color);
}
/* HERO */

.hero {
  background-color: var(--hero-bcg-color);
}

.hero-title {
  color: var(--primary-white-color);
  background-color: var(--hero-bcg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Section */
.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Feature-list */
.feature-list,
.team-list,
.list {
  list-style: none;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.feature-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Team */
.member-name {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

text-align: center;
letter-spacing: 0.03em;
}

.team-list p {
  font-size: 16px;
  line-height: 1.9;
 
  text-align: center;
  letter-spacing: 0.03em;
}




/* PORTFOLIO PAGE */

.filter .link {
  font-weight: 500;
font-size: 16px;
line-height: 1.62; 
letter-spacing: 0.03em;
}

.project .title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
p {
  color: var(--primary-text-color);
}

.project .description {

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}


